.employeeListContainer {
   background: #fff;
   padding: 25px 20px;
   min-height: 80vh;
}

.employeeContainer {
   padding: 20px;
}

.greyText {
   color: #aaa;
}

.btnContainer {
   background-color: #fff;
   display: flex;
   justify-content: flex-end;
   padding-bottom: 20px;
   padding-right: 20px;
}

/* Add User */
.addUserContainer {
   background-color: #fff;
   padding: 20px;
   width: 100%;
   min-height: 80vh;
   padding: 100px 0px;
}

.addUserContainer div {
   width: 500px;
   margin: 0 auto;
}

.addUserContainer div h1 {
   text-align: center;
}

.addUserContainer .btnAdd {
   width: 30%;
   margin: 0 auto;
   display: block;
   margin-top: 10px;
}

/* Summary */
.summaryInfoContainer {
   margin-top: 15px;
   min-height: 70vh;
}

/* Summary */
/* Left */
.summaryInfoContainer .leftSection {
   background-color: #fff;
   padding: 20px;
   padding-bottom: 50px;
}

.summaryInfoContainer .leftSection .userImg {
   text-align: center;
}

.summaryInfoContainer .leftSection div:nth-child(2) {
   margin-top: 40px;
   padding: 0px 50px;
}

.summaryInfoContainer .leftSection table {
   width: 100%;
}

.summaryInfoContainer .leftSection table td {
   padding: 10px 0px;
}

.summaryInfoContainer .leftSection table td:nth-child(2n) {
   text-align: right;
}

/* Summary */
/* Right */
.summaryInfoContainer .rightSection {
   background-color: #fff;
   padding: 20px;
}
/* General */
.generalInfoContainer {
   background-color: #fff;
   padding: 20px 0px;
}

.generalInfoContainer .topSection,
.generalInfoContainer .bottomSection {
   padding: 30px 60px;
}
/* Status */
.praiseInfoContainer img,
.penaltyInfoContainer img {
   float: left;
   margin-right: 10px;
}

/* Edit */
.selfInfoContainer,
.spouseInfoContainer,
.dadInfoContainer,
.momInfoContainer,
.educationInfoContainer,
.rankInfoContainer,
.workHistoryInfoContainer,
.statusInfoContainer,
.attachmentInfoContainer,
.penaltyInfoContainer,
.praiseInfoContainer {
   background-color: #fff;
   padding: 20px;
}

.generalInfoContainer {
   background-color: #fff;
   padding: 20px;
}

.imgContainer {
   width: 15%;
   display: flex;
   justify-content: center;
}

.generalInfo {
   width: 84%;
}

.imgContainer img {
   box-shadow: 0 0 4px;
}

.birthPlaceContainer,
.addressContainer,
.contactContainer {
   background-color: #fff;
   padding: 20px;
   margin-top: 20px;
}
